*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    width: 100%;
}
.medication{
    width:100%;
    display:flex;
    align-items:start;
    justify-content:space-between;
    margin:0 auto;
    background:#fff
}
.bug,.cancel{
    display:none;
}
.bug-size{
    display:none;
}
.navigation{
    width:20%;
    padding:20px;
    margin:0 auto;
    background:#0073C6;
    position:sticky;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100vh;
}
.navigation-image img{
    width:15%;
    border-radius:50px;
}
.navigation-image p{
    text-transform:capitalize;
    color:#fff;
    font-size:1.3em;
    font-family: 'Montserrat', sans-serif;  
    margin:10px auto 0; 
}
.navigation-image span{
    display:block;
    color:#fff;
    font-size:1em;
    font-family: 'Montserrat', sans-serif;  
    text-transform:capitalize;
    margin-top:5px;
}
.navigation nav{
    margin:10px 0;
}
.navigation nav ul li{
    margin:10px auto;
    list-style:none;
}
.navigation nav ul li a{
    display:block;
    text-decoration:none;
    text-transform:capitalize;
    color:#fff;
    font-size:0.9em;
    font-family: 'Montserrat', sans-serif; 
    padding:15px 0;
}
.medication-body{
    width:80%;
    padding:20px;
}
.medication-head{
    text-transform:capitalize;
    font-size:1em;
    font-family: 'Montserrat', sans-serif;  
    text-align:center;
}
.medication-list{
    display:flex;
    /* align-items:center; */
    justify-content:space-between;
    width:100%;
    margin:40px auto 0;
    /* background:red; */
}
.button-box{
    display:flex;
    align-items:start;
    justify-content:space-between;
    width:49%;
    margin:0 auto;
    flex-wrap:wrap;
}
.button-box button{
    width:32%;
    padding:50px;
    border:none;
    color:#fff;
    background:#0073C6;
    font-family: 'Montserrat', sans-serif;  
    font-size:0.8em;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color:#0073C6;
    margin:50px auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width:30%;
    animation-name:animatetop;
    animation-duration:0.4s;
}
@keyframes animatetop{
    from{top: -300px; opacity:0}
    to{top:0; opacity:1}
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form input{
    display:block;
    width:100%;
    margin:0px auto 10px;
    padding:10px;
    outline:none;
}
form label{
    margin:20px 0 0;
}
form input[type="submit"]{
    width:20%;
    padding:10px;
    border:none;
    background:#fff;
    color:black;
}
.drug-image{
    width:49%;
    margin:0 auto;
}
.drug-image img{
    width:100%;
}

@media screen and (max-width:900px){
    .medication{
        flex-direction:column;
    }
    .bug-size{
        background:#0073C6;
        width:100%;
        padding:20px;
        display:block;
    }
    .bug{
        display:block;
        width:10%;
    }
    .navigation{
        display:none;
        width:100%;
        height:120vh;
        position: relative;
        background:#0073C6;
    }
    .navigation-image img{
        width:15%;
        /* padding:10px; */
    }
    .cancel{
        margin:10px 0 ;
    }
    .navigation nav ul li a{
        font-size:1em;
    }
    .medication-body{
        width:100%;
    }
    .medication-head{
        text-align:start;
    }
    .medication-list{
        flex-direction:column-reverse;
        margin:10px auto 0;
    }
    .button-box{
        width:100%;
        flex-wrap:wrap;
    }
    .button-box button{
        width:45%;
        margin:10px 0 0;
        padding:50px 20px;
    }
    .modal-content{
        width:95%;
    }
    form{
        width:100%;
    }
    .drug-image{
        width:100%;
    }
    form input[type="submit"]{
        width:30%;
    }
}